html{
    scroll-behavior: smooth;
}
body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* width: 100vw; */
    padding: 0;
    margin: 0;
    letter-spacing: 0.rem;
}
nav
{
    background-color: #000000;
    color: #ffffff;
    padding:0rem 0.5rem 0rem 5rem;
    display: flex;
    justify-content:space-between;
}
nav img
{
    width: 8rem;
    height: 6rem;
}
main
{
    background-image: url("../assets/bg-black.png");
    background-repeat:no-repeat;
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
    height: 100%;
    /* padding: 10px; */
}
main .gradient
{
    background-image:radial-gradient(circle,rgb(0,0,0,0.9),rgb(0,0,0,0.9));
    background-size: cover;
}
main .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 10rem 0rem 10rem 0rem;
    
}
main .card form
{
    display:flex;
    flex-direction: column;
    background-color: #000000;
    color: #ffffff;
    padding: 3em;
    /* margin: 10px; */

    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #B4B4B3;
}
main .card form input[type="radio"]
{
    appearance:calc(1.5rem + 0.5vw);
    transform: scale(1.5);
    margin: 10px;
    /* outline: none; */
}
main .card form input[type="radio"]:checked
{
    transform: scale(2);
    margin: 10px;
}
main .card form .contractor
{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

main .card form label
{
    margin: 10px;
    color: #ffffff;
    border: #ffffff;
    padding: 0 10px 0 10px;
}
main .card form input[type="text"],input[type="password"],input[type="mobilenumber"],input[type="number"],input[type="date"],input[type="tel"],select
{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width:40rem;
    background-color: #ffffff;
    color: #000000;
}
main .card form .inp
{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main .card form .btns
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
main .card form .pword a{
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.1rem;
}
main .card form .pword a:hover{
    color: #ADE4DB;
    text-decoration: underline;
}
img
{
    width: 14rem;
    height: 10rem;
    background-size: contain;
}

.profile
{
    grid-area: profile;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:0 1rem 0 1rem;
    font-size: large;
}

/* Buttons */
main .card form button
{
    margin: 10px;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 10px;
    border: none;
    background-color: #7360DF;
    color: #ffffff;
    font-size:large;
}
main .card form button:hover
{
    background-color: #428ae2;
    color: #000000;
}




/* Footer */
footer{
    background-color: #000;
    height:5rem;
    display: flex;
    justify-content: space-around;
    align-items:center ;
    color:#fff;
} 
footer ul{    
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-around;
}
footer ul a{
    color:#fff;
    text-decoration: none; 
}
footer ul a:hover{    
    color:rgb(0, 255, 255);
}